extends ../../include/layout
block content
	include ../../include/header
	.container
		.row
			.col-md-8.col-md-offset-2
				if item.lists.length>0
					table.table.table-striped.table-hover
						caption #{item.name}
						thead
							tr
								th 名称
								th 金额
								th 收支
								if user&&user.role>10
									th 所有操作
						tbody
							- var income=0
							- var cost=0
							- var sum=0
							each list in item.lists
								if list.type=="支出"
									- cost=cost+list.amount
								else
									- income=income+list.amount
								tr
									th #{list.name}
									th #{list.amount}
									th #{list.type}
									if user&&user.role>10
										th 
											a.btn(href="/category/list/view/#{list._id}") 查看
											a.btn(href="/category/list/delete?categoryId=#{item._id}&id=#{list._id}") 删除
											a.btn(href="/category/list/modify/#{list._id}") 修改
											a.btn#question(data-toggle='modal', data-target='#questionModal') 提问
											#questionModal.modal.fade(data-id="#{list._id}",tabindex='-1', role='dialog2', aria-labelledby='myQuestion', aria-hidden='true')
												.modal-dialog
													.modal-content
														.modal-header
															button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
															h4#myQuestion.modal-title 提问
														.modal-body
															form.form-horizontal
															.form-group
																label.col-sm-1.control-label
																.col-sm-10
																textarea.form-control#questionContent(row="5",name="list[question]",placeholder="请输入评论内容",style="min-height:150px;")
														.modal-footer
															button.btn.btn-default(type='button', data-dismiss='modal') 关闭
															button.btn.btn-primary.question(type='button') 提交
				else
					h2.center 没有记录
				if cost||income
					- sum=income-cost
					.sum 余额：#{sum}元
				if user&&user.role>10
					a.btn.add(href="/category/list/add/edit",style="marginTop:50px") 添加